body {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #e7e7e8; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff; }

h1, h2, h3, h4, p {
  margin: 0; }

textarea:focus, input:focus, button:focus {
  outline: none; }

.c-navbar {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .c-navbar__item {
    padding: 1.1em;
    font-size: 15px;
    color: #4f4c4d; }
    .c-navbar__item--active {
      color: #5ac1c4; }
    .c-navbar__item_svg {
      height: 80px; }

.c-header {
  background: url(../images/products-header-return-xl.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }
  .c-header__box {
    color: #fff;
    padding: 0 .5em; }
  .c-header__head {
    background: #31b2b5;
    font-size: 36px;
    font-weight: 600; }
  .c-header__main {
    background: #191919;
    font-size: 16px; }
    .c-header__main span {
      font-size: 18px;
      font-weight: 600; }

.c-mission {
  height: 450px;
  width: 62%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5; }
  .c-mission__intro {
    color: #31b2b5;
    font-size: 24px;
    font-weight: 400;
    padding: 1em 0; }
  .c-mission__main {
    color: #231f20;
    padding: 1em 0;
    font-weight: 300;
    font-size: 15px; }

.c-articles {
  display: flex; }
  .c-articles__card {
    height: 300px;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .c-articles__card--seis {
      background: url(../images/products-blue-image-xl.jpg);
      background-size: cover; }
      .c-articles__card--seis-btn {
        border: 1px solid #31b2b5; }
    .c-articles__card--eis {
      background: url(../images/products-red-image-xl.jpg);
      background-size: cover; }
      .c-articles__card--eis-btn {
        border: 1px solid #d54557; }
    .c-articles__card--content {
      text-align: center;
      width: 50%;
      height: 200px;
      margin: auto;
      display: grid;
      grid-template-rows: repeat(1fr); }
      .c-articles__card--content-head {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.1; }
      .c-articles__card--content-main {
        font-size: 13px; }
      .c-articles__card--content-btn {
        display: block;
        padding: .5em 4em;
        background: transparent;
        color: #fff;
        font-size: 11px;
        margin: auto; }
        .c-articles__card--content-btn:hover {
          cursor: pointer; }

.c-chart {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .c-chart hr {
    position: absolute;
    background: #d54557;
    top: 205px;
    width: 75%; }
  .c-chart__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%; }
    .c-chart__content--item {
      text-align: center;
      display: grid;
      grid-template-rows: 80px 80px; }
      .c-chart__content--item-head__img {
        height: 50px; }
      .c-chart__content--item-head__line {
        position: relative;
        text-align: center; }
        .c-chart__content--item-head__line_dot:after {
          content: "";
          border-left: 1px dotted #31b2b5; }
      .c-chart__content--item-footer {
        display: grid;
        grid-template-rows: 62px 12px; }
        .c-chart__content--item-footer__intro_title {
          font-size: 20px;
          color: #31b2b5;
          font-weight: 400;
          line-height: 1.2; }
        .c-chart__content--item-footer__intro_main {
          font-size: 40px;
          font-weight: 400;
          color: #31b2b5;
          line-height: .75; }
        .c-chart__content--item-footer__main {
          font-size: 60px;
          color: #31b2b5;
          font-weight: 400;
          line-height: 1; }
        .c-chart__content--item-footer__inset {
          font-size: 12px;
          color: #8c8c8c;
          line-height: 1.3; }

.c-form-link {
  height: 180px;
  background: #31b2b5;
  display: flex; }
  .c-form-link__content {
    color: #fff;
    width: 45%;
    margin: auto;
    text-align: center;
    display: grid;
    height: 100px; }
    .c-form-link__content--intro {
      font-size: 15px;
      font-weight: 300; }
    .c-form-link__content--btn {
      font-size: 16px;
      color: #fff;
      background: transparent;
      border: 1px solid #fff;
      padding: .5em 4em;
      margin: auto; }

.c-footer {
  background: #191919;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .c-footer__grid {
    display: grid;
    grid-template-columns: 45% 25% 30%;
    color: white;
    width: 75%; }
    .c-footer__grid--contact {
      display: grid;
      grid-template-rows: 1fr 1fr 2fr;
      grid-row-gap: 1.2em; }
      .c-footer__grid--contact-intro {
        font-size: 14.5px;
        font-weight: 200; }
      .c-footer__grid--contact-form {
        position: relative; }
        .c-footer__grid--contact-form__input {
          border: none;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%; }
        .c-footer__grid--contact-form__input[type=text] {
          font-size: 16px;
          padding: .5em 0; }
        .c-footer__grid--contact-form__submit {
          position: absolute;
          right: 0;
          top: 0;
          background: #31b2b5;
          border: none;
          color: #fff;
          font-size: 16px;
          padding: .5em 2em; }
      .c-footer__grid--contact-links {
        display: grid;
        grid-template-rows: 20px 1fr 1fr 30px;
        grid-row-gap: 5px;
        font-size: 12px;
        font-weight: 300; }
        .c-footer__grid--contact-links__title {
          color: #31b2b5;
          font-size: 14px;
          font-weight: 400; }
        .c-footer__grid--contact-links__intouch {
          position: relative; }
          .c-footer__grid--contact-links__intouch_phone span {
            color: #31b2b5;
            font-weight: 400; }
          .c-footer__grid--contact-links__intouch_email span {
            color: #31b2b5;
            font-weight: 400; }
          .c-footer__grid--contact-links__intouch_email--link {
            color: #fff;
            text-decoration: none; }
        .c-footer__grid--contact-links__network {
          display: flex;
          align-items: flex-end; }
          .c-footer__grid--contact-links__network_item--svg {
            height: 15px; }
          .c-footer__grid--contact-links__network_item:not(:first-child) {
            padding: 0 3em; }
    .c-footer__grid--nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .c-footer__grid--nav-grid {
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-row-gap: .5em; }
        .c-footer__grid--nav-grid__title {
          color: #31b2b5;
          font-size: 14px;
          font-weight: 400; }
        .c-footer__grid--nav-grid__list {
          display: flex; }
          .c-footer__grid--nav-grid__list_divider {
            width: 100px; }
          .c-footer__grid--nav-grid__list_items {
            line-height: 1; }
            .c-footer__grid--nav-grid__list_items a {
              font-size: 12px;
              font-weight: 300;
              color: #fff;
              text-decoration: none; }
        .c-footer__grid--nav-grid__inset {
          display: flex;
          align-items: center;
          font-size: 10px;
          font-weight: 200; }
          .c-footer__grid--nav-grid__inset_item {
            padding: 0 1em; }
            .c-footer__grid--nav-grid__inset_item a {
              text-decoration: none;
              color: #fff; }
          .c-footer__grid--nav-grid__inset span {
            font-size: 12px; }
