.c-navbar {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    padding: 1.1em;
    font-size: 15px;

    &--item {
      text-decoration: none;
      color: #4f4c4d;
    }

    &--img {
      height: 75px;
    }

    &--active {
      color: #5ac1c4;
    }
  }
}