.c-navbar {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    padding: 1.1em;
    font-size: 15px;
    color: #4f4c4d;

    &--active {
      color: #5ac1c4;
    }

    &_svg {
      height: 80px;
    }
  }
}